* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}


h4 {
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 15px;
    font-weight: 600;
}

h6 {
    text-align: center;
}

#values {
    text-align: right;
    padding-right: 60px;
}

.column {
    float: left;
    width: 50%;
    height: 590px;
    text-align: justify;
    text-justify: inter-word;
}

.row:after {
    display: table;
    clear: both;
}

p {
    padding-left: 60px;
    padding-right: 60px;
}

#aboutpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    height: 60vh;

}

figcaption {
    padding: 2px;
    text-align: center;
    font-style: italic;
    font-weight: 1;
    color: gray;

}
