//COLOR SET
$red: #E06B65;
$yellow: #FFEE52;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
$light: #F9FCFF;
$med: #EEF7FF;
$dark: #CBE7FF;

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient($light, $med, $dark);
  background-image: url(../img/about/about-clouds.svg);
  background-image: url(../img/about/about-clouds.svg), linear-gradient($light, $med, $dark);
  background-size: cover;
}

.navbar.scrolled {
  background-color: #ffffff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3.3vw;
  font-weight: bold;
  font-style: normal;
}

h2 {
  text-align: left;
  font-size: 25px;
  font-style: normal;
}

h4 {
  font-weight: 600;
  font-style: italic;
  padding-bottom: 2rem;
  font-size: 18px;

}

h6 {
  text-align: center;
  max-width: 25em;
  margin: auto;
  padding-bottom: 4%;
  color: black;
  font-weight: .1px;
  font-style: italic;
}

.column1 {
  visibility: hidden;
  display: none;
}

.column2 {
  visibility: hidden;
  display: none;
}

.row:after {
  visibility: none;
  clear: both;
}

#mobile {
  visibility: visible;
}

#mobile2 {
  visibility: visible;
  display: block;
}

#pillarsmobile1,
#pillarsmobile3 {
  visibility: visible;
  display: inline;
  width: 390px;
}

#aboutpic1,
#aboutpic2 {
  visibility: hidden;
  display: none;
}

#aboutpic3 {
  visibility: hidden;
  display: none;
}

#aboutpic3mobile {
  visibility: visible;
  display: block;
  width: 23rem;
}

figcaption {
  visibility: hidden;
  display: none;
}


#pillars1 {
  visibility: hidden;
  display: none;
}

#pillars3 {
  visibility: hidden;
  display: none;
}

#end {
  text-align: justify;
}

#frontmobile {
  visibility: visible;
  display: block;
  text-align: justify;
}

#originmobile {
  visibility: visible;
  display: block;
  text-align: justify;
}

#mission,
#front {
  visibility: hidden;
  display: none;
}

#container {
  visibility: visible;
  text-align: justify;
}


#originmobiletitle,
#missionmobile,
#inventmobile {
  visibility: visible;
  display: block;
}

@media (min-width: 576px) {

  #container {
    visibility: none;
  }

  .column1 {
    display: none;
  }

  .column2 {
    display: none;
  }

  .row:after {
    display: none;
    ;
    clear: both;
  }

  #mobile {
    visibility: visible;
    display: block;
  }

  #mobile2 {
    visibility: visible;
  }

  #aboutpic1,
  #aboutpic2 {
    visibility: hidden;
    display: none;
  }

  #aboutpic3 {
    visibility: hidden;
    display: none;

  }

  figcaption {
    visibility: hidden;
    display: none;
  }

  #pillarsmobile1,
  #pillarsmobile3 {
    visibility: visible;
    display: block;
  }


  #pillars1 {
    visibility: hidden;
    display: none;

  }

  #pillars3 {
    visibility: hidden;
    display: none;
  }

  #aboutpic3mobile {
    visibility: visible;
    display: block;
    width: 30rem;
  }

  #originmobile {
    visibility: visible;
    display: block;
    text-align: justify;
  }

  #front {
    visibility: hidden;
    display: none;
  }

  #frontmobile {
    visibility: visible;
    display: block;
  }

  #originmobiletitle,
  #missionmobile,
  #inventmobile {
    visibility: visible;
    display: block;
  }

  #mission,
  #front {
    visibility: hidden;
    display: none;
  }


}

@media (min-width: 768px) {
  h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.4rem;
    font-size: 50px;
  }

  h2 {
    text-align: left;
    font-size: 35px;

  }

  h4 {
    font-weight: 600;
    font-style: italic;
    padding-bottom: 2rem;
    font-size: 25px;

  }

  #container {
    visibility: visible;
  }

  .column1 {
    display: visible;
  }

  .column2 {
    display: visible;
  }

  .row:after {
    display: visible;
    ;
    clear: both;
  }

  #mobile {
    visibility: none;
  }

  #aboutpic1,
  #aboutpic2 {
    visibility: visible;
    display: block;
  }

  #aboutpic3 {
    visibility: visible;
    display: block;
  }

  #aboutpic3mobile {
    visibility: hidden;
    display: none;
  }

  #mobile2 {
    visibility: visible;
  }

  #pillars1 {
    visibility: visible;

  }

  #pillars3 {
    visibility: visible;
  }

  #pillarsmobile1,
  #pillarsmobile3 {
    visibility: hidden;
    display: none;
  }

  figcaption {
    font-style: italic;
    font-weight: 10px;
    color: black;
    max-width: 27em;
    margin: auto;
    visibility: visible;
    display: block;
  }

  #originmobile {
    visibility: hidden;
    display: none;
  }

  #front,
  #mission {
    visibility: visible;
    display: block;
  }

  #frontmobile {
    visibility: hidden;
    display: none;
  }

  #originmobiletitle,
  #missionmobile,
  #inventmobile {
    visibility: hidden;
    display: none;
  }

}

@media (min-width: 992px) {
  #container {
    visibility: visible;
    display: inline;
    visibility: visible;
  }

  #mobile {
    visibility: hidden;
    display: none;
  }

  #mobile2 {
    visibility: hidden;
    block: none;
  }

  .column1 {
    float: left;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    display: inline;
    visibility: visible;
  }

  .column2 {
    float: right;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    display: inline;
    visibility: visible;

  }

  .row:after {
    display: table;
    clear: both;

  }

  #aboutpic1 {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }


  #aboutpic2 {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }

  #aboutpic3 {
    height: 23rem;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;

  }

  #aboutpic3mobile {
    visibility: hidden;
    display: none;
  }

  #pillars3 {
    width: 36rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }

  #pillars1 {
    width: 36rem;
    padding-top: 1em;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }

  #pillarsmobile1,
  #pillarsmobile3 {
    visibility: hidden;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    font-style: italic;
    font-weight: 10px;
    color: black;
    max-width: 27em;
    margin: auto;
    visibility: visible;
    display: block;
  }

  #end {
    display: block;
    visibility: visible;
  }


  #origin {
    padding-top: 75px;
    padding-left: 60px;
    width: 500px;
  }

  #originmobile {
    visibility: hidden;
    display: none;
  }

  #front,
  #mission {
    visibility: visible;
    display: block;
  }

  #frontmobile {
    visibility: hidden;
    display: none;
  }

  #originmobiletitle,
  #missionmobile,
  #inventmobile {
    visibility: hidden;
    display: none;
  }


  h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.4rem;
    font-size: 50px;
  }

  h2 {
    text-align: left;
    font-size: 35px;
  }

  h4 {
    font-weight: 600;
    font-style: italic;
    padding-bottom: 2rem;
    font-size: 25px;

  }


}