* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img/about/gradient+clouds.png);
  background-size: cover;
}

.navbar.scrolled {
  background-color: #ffffff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: white;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.4rem;
}

h2 {
  text-align: left;
}

h4 {
  font-weight: 600;
  font-style: italic;
  padding-bottom: 2rem;

}

h6 {
  text-align: center;
  max-width: 25em;
  margin: auto;
  padding-bottom: 5em;
  color: black;
  font-weight: 100;
  font-style: italic;

}


.column1 {
  visibility: none;
}

.column2 {
  visibility: none;
}

.row:after {
  visibility: none;
  ;
  clear: both;
}

#mobile {
  visibility: visible;
}

#mobile2 {
  visibility: visible;
  display: block;
}

#aboutpic1,
#aboutpic2 {
  visibility: hidden;
  display: none;
}

#aboutpic3 {
  visibility: hidden;
  display: none;
}

#aboutpic3mobile {
  visibility: visible;
  display: block;
  width: 10 rem;
}


#pillars1 {
  visibility: hidden;
  display: none;
}

#pillars3 {
  visibility: hidden;
  display: none;
}

figcaption {
  font-style: italic;
  font-weight: 10px;
  color: black;
  max-width: 27em;
  margin: auto;
}

#end {
  padding-bottom: 5rem;
  text-align: justify;
}

#front {
  padding-bottom: 2rem;
}

#origin {
  padding-top: 4.5em;
  width: 30em;
  height: 25em;
  text-align: justify;
  margin: auto;
}

#mission {
  padding-bottom: 2rem;
}

@media (min-width: 576px) {

  #container {
    visibility: none;
  }

  .column1 {
    display: none;
  }

  .column2 {
    display: none;
  }

  .row:after {
    display: none;
    ;
    clear: both;
  }

  #mobile {
    visibility: visible;
  }

  #mobile2 {
    visibility: visible;
  }

  #aboutpic1,
  #aboutpic2 {
    visibility: none;
  }

  #aboutpic3 {
    visibility: visible;
  }


  #pillars1 {
    visibility: none;

  }

  #pillars3 {
    visibility: none;
  }

  #aboutpic3mobile {
    visibility: visible;
    display: block;
    width: 30rem;
  }
}

@media (min-width: 768px) {
  #container {
    visibility: visible;
  }

  .column1 {
    display: visible;
  }

  .column2 {
    display: visible;
  }

  .row:after {
    display: visible;
    ;
    clear: both;
  }

  #mobile {
    visibility: none;
  }

  #aboutpic1,
  #aboutpic2 {
    visibility: visible;
  }

  #aboutpic3 {
    visibility: visible;
  }

  #aboutpic3mobile {
    visibility: hidden;
    display: none;
  }

  #mobile2 {
    visibility: visible;
  }

  #pillars1 {
    visibility: visible;

  }

  #pillars3 {
    visibility: visible;
  }

}

@media (min-width: 992px) {
  #container {
    visibility: visible;
    display: inline;
    visibility: visible;
  }

  #mobile {
    visibility: hidden;
    display: none;
  }

  #mobile2 {
    visibility: hidden;
    block: none;
  }

  .column1 {
    float: left;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    display: inline;
    visibility: visible;
  }

  .column2 {
    float: right;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    display: inline;
    visibility: visible;

  }

  .row:after {
    display: table;
    clear: both;

  }

  #aboutpic1,
  #aboutpic2 {
    width: 30rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }

  #aboutpic3 {
    height: 23rem;
    width: 32rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;

  }

  #aboutpic3mobile {
    visibility: hidden;
    display: none;
  }

  #pillars3 {
    width: 36rem;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }

  #pillars1 {
    width: 36rem;
    padding-top: 1em;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
  }
}

/*# sourceMappingURL=about.css.map */