.topbar {
    background-color: #373737;
    color: white;
}

#underline1 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
}

#underline2 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
}

#underline3 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
}

#underline4 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
}

#underline5 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px);
}

#underline6 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px);
}

#underline7 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px);
}

#underline8 {
    background: #373737;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px);
}