.topbar {
    background-color: #6D6D6D;
    color: white;
}

.col1 {
    width: 50%
}

.col2 {
    width: 50%
}

.row {
    padding-bottom: 0px;
}

#proj-title {
    padding-top: 1em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0px;
}

.navbar.scrolled {
    background-color: white !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#proj-answers {
    padding: 0.8rem;
    max-width: 16rem;
    padding-right: 1rem;
    font-family: 'Chivo', sans-serif;
}

#proj-details {
    margin-left: 6rem;
    padding: 0.95rem;
    font-family: 'Chivo', sans-serif;
}


h2 {
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

h3 {
    text-align: left;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;

}

h5 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    font-weight: lighter;
    font-style: italic;
}

#how {
    padding-left: 3rem;
    font-style: italic;
    font-weight: 600;
    color: #5B5B5B;
}



.topbar-img {
    height: 400px;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}


#topbar-hr {
    height: 0.01rem;
    background: white;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 10px;
}

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;

}

p {
    padding-top: 0px;
    margin-top: 0px;
}

#underline1 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    height: 21px;
    width: 179px;
    position: absolute;
    z-index: -1;
    left: 170px;
    top: 690px;
}

#underline2 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    height: 21px;
    width: 182px;
    position: absolute;
    z-index: -1;
    left: 170px;
    top: 805px;
}

#underline3 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    height: 21px;
    width: 179px;
    position: absolute;
    z-index: -1;
    left: 170px;
    top: 830px;
}

#underline4 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    height: 21px;
    width: 179px;
    position: absolute;
    z-index: -1;
    left: 270px;
    top: 830px;
}

#underline5 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: 150px;
    top: 1030px;
}

#underline6 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: 705px;
    top: 1770px;
}

#underline7 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: 150px;
    top: 2010px;
}

#underline8 {
    background: rgba(246, 208, 224, 0.6);
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: 705px;
    top: 2650px;
}

#d1p1 {
    padding-left: 10px;
    margin-bottom: 50px;
    border-left: 3px solid rgba(153, 204, 255, 0.77);

}

#d1p2 {
    padding-left: 10px;
    border-left: 3px solid #C4C4C4;
    margin-bottom: 50px;
}

#d2p1 {
    padding-right: 10px;
    border-right: 3px solid #202020;

}