.topbar {
    color: white;
}

.col1 {
    width: 50%
}

.col2 {
    width: 50%
}

.col-sm-5th {
    width: 20%;
    float: left;
}

.team-header {
    padding-top: 4rem;
}

.row {
    padding-bottom: 0px;
}

#users {
    margin-left: auto;
    margin-right: auto;
}

#proj-title {
    padding-top: 1em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0px;
}

.navbar.scrolled {
    background-color: white !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

#proj-answers {
    max-width: 16rem;
    font-family: 'Chivo', sans-serif;
    height: 25%;
    letter-spacing: 0.07em;
    line-height: 122%;
}

#proj-details {
    font-family: 'Chivo', sans-serif;
    text-align: right;
    height: 20%;
    font-style: italic;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

h3 {
    text-align: left;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;

}

h5 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    font-weight: lighter;
    font-style: italic;
}

#how {
    font-style: italic;
    font-weight: 600;
    color: #5B5B5B;
    padding-bottom: 30px;
}

.topbar-img {
    height: 90vw;
    margin: 1.5rem;
    margin-left: 1.5rem;
}

#topbar-hr {
    height: 0.01rem;
    background: white;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 10px;
}

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

a {
    color: white;
}

p {
    padding-top: 0px;
    margin-top: 0px;
}

#underline1 {
    opacity: 50%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-32px);
}

#underline2 {
    opacity: 50%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-32px);
}

#underline3 {
    opacity: 50%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-32px);
}

#underline4 {
    opacity: 50%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-32px);
}

#underline5 {
    opacity: 60%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-42px);
}

#underline6 {
    opacity: 60%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-42px);
}

#underline7 {
    opacity: 60%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-42px);
}

#underline8 {
    opacity: 60%;
    border-radius: 50px;
    width: 308px;
    height: 20px;
    position: absolute;
    z-index: -1;
    transform: translateY(-42px);
}

#d1p1 {
    padding-left: 10px;
    margin-bottom: 50px;
    border-left: 3px solid rgba(153, 204, 255, 0.77);
}

#d1p2 {
    padding-left: 10px;
    border-left: 3px solid #C4C4C4;
    margin-bottom: 50px;
}

#d2p1 {
    padding-right: 10px;
    border-right: 3px solid #202020;
}

#d4p3 {
    border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%, red 50%, red 75%, teal 75%) 5;
}

.bubbles1 {
    padding-left: 2rem;
}

@media (min-width: 778px) {

    .topbar-img {
        margin: 4.5rem;
        height: 30vw;
    }

    #proj-details {
        font-family: 'Chivo', sans-serif;
        text-align: right;
        padding-bottom: 30px;

    }

    #proj-answers {
        max-width: 16rem;
        font-family: 'Chivo', sans-serif;
        height: 25%;
        padding-top: 5px;
        text-align: left;
    }

    .holder {
        margin-left: 4.5rem;

    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    #proj-title {
        padding-top: 5rem;
    }
}