.topbar {
    background-color: #6D6D6D;
    color: white;
}

.col1 {
    width: 50%
}

.col2 {
    width: 50%
}

.row {
    padding-bottom: 0px;
}

#proj-title {
    padding-top: 3rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0px;
}


#proj-details {
    margin-left: 6rem;
    padding: 0.95rem;
}

h3 {
    text-align: left;
    font-weight: bold;
}

h4 {
    text-align: left;

}

h5 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    font-weight: lighter;
}

h6 {
    padding-left: 3rem;
}


#proj-answers {
    padding: 0.8rem;
    max-width: 16rem;
    padding-right: 1rem;
}


.topbar-img {
    height: 400px;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}


hr {
    height: 0.01rem;
    background: white;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 10px;
}

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;

}

p {
    padding-top: 0px;
    margin-top: 0px;
}

#border {
    background: rgba(105, 191, 70, 0.4);
    border-radius: 10px;
}