//COLOR SET
$background: #E95633;
$red: #E06B65;
$yellow: #FFFF99;
$green: #99CC99;
$blue: #99CCFF;
$gray: #C4C4C4;
$black: #202020;

.topbar {
    background-color: $background;
    opacity: 0.8;
}

#underline1 {
    background: $background;
}

#underline2 {
    background: $background;
}

#underline3 {
    background: $background;
}

#underline4 {
    background: $background;
}

.p1 {
    border-color: $red;
}

.p2 {
    border-color: $yellow;
}

.p3 {
    border-color: $green;
}

.p4 {
    border-color: $blue;
}

.p5 {
    border-color: $gray;
}