//COLOR SET

$red: #E06B65;
$yellow: #FFFF99;
$green: #99CC99;
$blue: #99CCFF;
$gray: #C4C4C4;
$black: #202020;

.topbar {
    background-color: #E95633;
    color: white;
    opacity: 0.8;
}

#underline1 {
    background: #E95633;
}

#underline2 {
    background: #E95633;
}

#underline3 {
    background: #E95633;
}

#underline4 {
    background: #E95633;
}

#underline5 {
    background: #E95633;
    width: 14rem;
    transform: translate(10px, 23px);
}

#underline6 {
    background: #E95633;
    width: 15rem;
    transform: translate(10px, 39px);
}

#underline7 {
    background: #E95633;
    width: 16rem;
    transform: translate(10px, 39px);
}

.col-4 {
    margin-right: 0;
    margin-left: 0;
}

.p1 {
    border-color: $red;
}

.p2 {
    border-color: $yellow;
}

.p3 {
    border-color: $green;
}

.p4 {
    border-color: $blue;
}

.p5 {
    border-color: $gray;
}

@media (min-width: 768px) {

    #underline5 {
        background: #E95633;
        width: 12rem;
        transform: translate(10px, 23px);
    }

    #underline6 {
        background: #E95633;
        width: 12.5rem;
        transform: translate(10px, 39px);
    }

    #underline7 {
        background: #E95633;
        width: 12rem;
        transform: translate(10px, 39px);
    }

}

@media (min-width: 992px) {
    #underline5 {
        background: #E95633;
        width: 12rem;
    }

    #underline6 {
        background: #E95633;
        width: 12.5rem;
    }

    #underline7 {
        background: #E95633;
        width: 13.5rem;
    }

}

@media (min-width: 1200px) {
    // #underline1 {
    //     width: 7.5rem;
    // }

    // #underline2 {
    //     width: 8.125rem;
    // }

    // #underline3 {
    //     width: 10rem;
    // }

    // #underline4 {
    //     width: 10rem;
    // }

    // #underline5 {
    //     width: 10rem;
    // }

    // #underline6 {
    //     width: 10rem;
    // }

    // #underline7 {
    //     width: 10rem;
    // }

    // #underline8 {
    //     width: 10rem;
    // }
}