// COLOR SET

$red: #E06B65;
$yellow: #FEEB96;
$green: #99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
$grad-1: #F8E8B2;
$grad-2: #F4CCBE;
$grad-3: #E58F7C;
$grad-4: #6376A8;
$grad-5: #202020;
$blue-click: #74B0ED;
$green-click: #7ABB7A;
$red-click: #D8524B;
$yellow-click: #FDE26A;
$title-light: #FFF3D6;
$title-dark: #CB6724;

// LANDING PAGE

.navbar-light .navbar-nav .nav-link {
    color: white;
}

p.about-txt {
    text-align: center;
}

body {
    background: linear-gradient($grad-1, $grad-2, $grad-3, $grad-4, $grad-5) no-repeat;
    height: fit-content;
    position: relative;
}

a {
    color: white;
}

h2 {
    color: white;
    font-size: 1.85vw;
}

p {
    color: white;
    font-size: 1.15vw;
}

// LOADING PAGE

#load_screen {
    background: $black;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
}

// SOCIAL ICONS

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90%;
}

.social-icons>a:nth-child(1):hover {
    color: $red;
}

.social-icons>a:nth-child(2):hover {
    color: $yellow;
}

.social-icons>a:nth-child(3):hover {
    color: $green;
}

.social-icons>a:nth-child(4):hover {
    color: $blue;
}


// LANDING TITLE

.landing{
    position: relative;
    width: 100%;
    height: 52vw;
}

// ABOUT & PILLARS

.planets {
    width: 100%;
    height: auto;
    position: absolute;
    top: 220vw;
    z-index: -1;
}
.planets-img {
    width: 100%;
    height: auto;
}

.clouds {
    width: 100%;
    height: auto;
    position: absolute;
    top: 160vw;
}

.clouds-img {
    width: 100%;
    height: auto;
}

.scene {
    width: 100%;
    height: auto;
	transform: translateY(var(--translateY));
    will-change: transform;
    z-index: -1;
    bottom: 0;
}

.pencil {
    display: block;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20%;
    height: auto;
}

.about-section {
    position: relative;
    margin-top: 5vw;
    height: 85vw;
}

.members-section {
    position: relative;
    margin-top: 0;
    height: 80vw;
}

.projects-section {
    position: relative;
    margin-top: 0;
    height: 60vw;
}

.about-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: -25vw;
    z-index: -1;
}

.about-content {
    width: 50%;
}

// MISSION & MEMBERS

.container.members {
    text-align: center;
    height: auto;
    position: relative;
}

// BUTTONS

.button {
    text-align: center!important;
    display: inline-block;
    color: white;
    font-size: 1.25vw;
    text-shadow: 2px 2px 6px $black;
    border-radius: 1em;
    padding: 0.75em 2em;
    margin-top: 2.5em;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // -webkit-transition: all 0.25s ease;
    // transition: all 0.25s ease;
}

.button:hover {
    cursor: pointer;
}

#about-button {
    border: solid $red;
    background: $red;
}

#members-button {
    border: solid $yellow;
    background: $yellow;
}

#projects-button {
    border: solid $green;
    background: $green;
}

#about-button:hover {
    border: solid $red-click;
    background: $red-click;
}

#members-button:hover {
    border: solid $yellow-click;
    background: $yellow-click;
}

#projects-button:hover {
    border: solid $green-click;
    background: $green-click;
}


// FEATURED PROJECTS

.projects-div {
    height: fit-content;
    margin: auto;
}

.project-planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180%;
}

.project-link {
    // width: 25vw;
    height: auto;
    z-index: 1;
}
  
img {
    position: relative;
    z-index: -1;
}

.project-icon:hover {
    opacity: 50%;
}


// MEDIA QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .pencil {
        padding-top: 2.75rem;
    }

    .landing {
        height: 60vw;
    }

    .about-section {
        height: 80vw;
        margin-top: 5vw;
    }

    .members-section {
        height: 60vw;
    }

    .projects-section {
        height: 50vw;
    }

    .about-img {
        top: -25vw;
    }

    .planets {
        top: 165vw;
    }

    .clouds {
        top: 130vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .pencil {
        padding-top: 3rem;
    }

    .landing {
        height: 53vw;
    }

    .about-section {
        height: 80vw;
        margin-top: 5vw;
    }

    .members-section {
        height: 60vw;
    }

    .projects-section {
        height: 60vw;
    }

    .about-img {
        top: -25vw;
    }

    .clouds {
        top: 130vw;
    }

    .planets {
        top: 165vw;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .pencil {
        padding-top: 3rem;
    }

    .landing {
        height: 60vw;
    }

    .about-section {
        height: 80vw;
        margin-top: 5vw;
    }

    .members-section {
        height: 60vw;
    }

    .projects-section {
        height: 60vw;
    }

    .about-img {
        top: -30vw;
    }

    // .planets {
    //     bottom: 50px;
    // }

    .clouds {
        top: 130vw;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .social-icons {
        margin-top: 2em;
    }

    .pencil {
        padding-top: 6rem;
    }

    .landing {
        height: 60vw;
    }

    .about-section {
        height: 80vw;
        margin-top: 5vw;
    }

    .members-section {
        height: 50vw;
    }

    .projects-section {
        height: 55vw;
    }

    .about-img {
        top: -30vw;
    }

    .planets {
        top: 150vw;
    }

    .clouds {
        top: 120vw;
    }
}
