.navbar-light .navbar-nav .nav-link {
  color: white;
}

p.about-txt {
  text-align: center;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8E8B2), color-stop(#F4CCBE), color-stop(#E58F7C), color-stop(#6376A8), to(#202020)) no-repeat;
  background: linear-gradient(#F8E8B2, #F4CCBE, #E58F7C, #6376A8, #202020) no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

a {
  color: white;
}

h2 {
  color: white;
  font-size: 1.85vw;
}

p {
  color: white;
  font-size: 1.15vw;
}

#load_screen {
  background: #202020;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 90%;
}

.social-icons > a:nth-child(1):hover {
  color: #E06B65;
}

.social-icons > a:nth-child(2):hover {
  color: #FFFF99;
}

.social-icons > a:nth-child(3):hover {
  color: #99CC99;
}

.social-icons > a:nth-child(4):hover {
  color: #99CCFF;
}

.landing {
  position: relative;
  width: 100%;
  height: 30vh;
}

.planets {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 100px;
}

.planets-img {
  width: 100%;
  height: auto;
}

.clouds {
  width: 100%;
  height: auto;
  position: absolute;
  top: 80vh;
}

.clouds-img {
  width: 100%;
  height: auto;
}

.scene {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(var(--translateY));
          transform: translateY(var(--translateY));
  will-change: transform;
  z-index: -1;
  bottom: 0;
}

.pencil {
  display: block;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.about-section {
  position: relative;
  margin-top: 5vh;
  height: 50vh;
}

.members-section {
  position: relative;
  margin-top: 0;
  height: 40vh;
}

.projects-section {
  position: relative;
  margin-top: 0;
  height: 50vh;
}

.about-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: -15vh;
  z-index: -1;
}

.about-content {
  width: 50%;
}

.container.members {
  text-align: center;
  height: auto;
  position: relative;
}

.button {
  text-align: center !important;
  display: inline-block;
  font-size: 1.25vw;
  border-radius: 1em;
  padding: 0.75em 2em;
  margin: 1.5em 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#members-button {
  border: solid #99CCFF;
  background: #99CCFF;
}

#about-button {
  border: solid #99CC99;
  background: #99CC99;
}

.projects-div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.project-planet {
  position: absolute;
  margin-left: auto;
  width: 50vw;
  height: auto;
}

.project-link {
  width: 20vw;
  height: auto;
}

img {
  position: relative;
  z-index: -1;
}

.project-link:hover {
  opacity: .1%;
}

@media (min-width: 576px) {
  .pencil {
    padding-top: 2rem;
    width: 50vw;
    height: auto;
  }
  .landing {
    height: 110vh;
  }
  .about-section {
    height: 200vh;
    margin-top: 5vh;
  }
  .members-section {
    height: 100vh;
  }
  .projects-section {
    height: 150vh;
  }
  .about-img {
    top: -50vh;
  }
  .planets {
    bottom: 50px;
  }
  .clouds {
    top: 250vh;
  }
}

@media (min-width: 768px) {
  .pencil {
    padding-top: 3rem;
  }
}

@media (min-width: 992px) {
  .pencil {
    padding-top: 4rem;
  }
}

@media (min-width: 1200px) {
  .social-icons {
    margin-top: 2em;
  }
  .pencil {
    padding-top: 5rem;
  }
}
/*# sourceMappingURL=mainscrollv15.css.map */