//COLOR SET
$red: #E06B65;
$yellow: #FEEB96;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
$grad-1: #436394;
$grad-2: #08102E;

body {
    background: linear-gradient($grad-1, $grad-2) no-repeat;
    position: relative;
}

.galaxy {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 100px;
}

.galaxy-img {
    width: 100%;
    height: auto;
}

.role {
    display: none;
    visibility: hidden;
}

.stars {
    width: 100%;
    height: 0px;
    position: relative;
}

.stars-img-1 {
    width: 25vw;
    height: auto;
}

.stars-img-2 {
    width: 28vw;
    height: auto;
    margin-left: 72vw;
}

.helmet {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 100px;
}

.helmet-img-1 {
    width: 8vw;
    height: 8vw;
    transform: translate(5vw, -5vw) rotate(140deg);
}

.helmet-img-2 {
    width: 8vw;
    height: 8vw;
    transform: translate(87vw, -55vh) rotate(20deg);
}

.navbar.scrolled {
    background-color: #202020 !important;
    transition: background-color 200ms linear;
    color: white;
}

h6 {
    color: white;
    font-style: italic;
    font-weight: .1px;
    padding-bottom: 4%;
}


.header {
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 3vh;
}

p.header {
    font-weight: normal;
}

h1 {
    font-size: 7vw;
    font-weight: bold;
    font-style: normal;
}

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

h2 {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1vh;
}

.dot {
    height: 8vw;
    width: 8vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
}

.quote {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.1rem;
    font-weight: medium;
    color: $black;
    opacity: 0;
}

.team>.container,
.exec>.container {
    text-align: center;
    margin-bottom: 1vh;
}

.name {
    font-weight: bold;
    font-style: normal;
}

div.col-4.col-sm-3,
div.col-6.col-sm-3,
div.col-4.col-sm-4,
div.col-6.col-sm-3,
div.col-6.col-sm-4 {
    padding: 5vh 0 0 0;
}

.member {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 94%;
    width: 94%;
}

.green {
    border: 4px solid $green;
}

.red {
    border: 4px solid $red;
}

.blue {
    border: 4px solid $blue;
}

.yellow {
    border: 4px solid $yellow;
}

a {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.img-container {
    height: 100%;
    width: 100%;
    position: relative;
}

p {
    color: white;
    font-size: 0.75rem;
}

.here:hover {
    cursor: grab;
    color: $red;
}

@media (min-width: 576px) {
    .dot {
        height: 12vw;
        width: 12vw;
    }

    .galaxy {
        bottom: 50px;
    }

    .helmet-img-2 {
        transform: translate(87vw, -140vh) rotate(20deg);
    }
}

@media (min-width: 768px) {
    .helmet-img-2 {
        transform: translate(87vw, -100vh) rotate(20deg);
    }

    .quote {
        font-weight: bold;
        font-size: 0.2rem;
    }

    .role {
        display: block;
        visibility: visible;
    }

    .stars-img-1 {
        width: 15vw;
    }

    .stars-img-2 {
        width: 18vw;
        margin-left: 82vw;
    }

    h1 {
        font-size: 7vh;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .helmet-img-2 {
        transform: translate(87vw, -200vh) rotate(20deg);
    }

    .header {
        margin-bottom: 5vh;
    }

    h2 {
        margin-bottom: 5vh;
    }

    .team>.container,
    .exec>.container {
        margin-bottom: 5vh;
    }

    .dot.red:hover {
        background-color: $red;
        border-color: $red;
        transition-timing-function: ease-in-out;
    }

    .dot.green:hover {
        background-color: $green;
        border-color: $green;
        transition-timing-function: ease-in-out;
    }

    .dot.blue:hover {
        background-color: $blue;
        border-color: $blue;
        transition-timing-function: ease-in-out;
    }

    .dot.yellow:hover {
        background-color: $yellow;
        border-color: $yellow;
        transition-timing-function: ease-in-out;
    }

    .img-container:hover {
        opacity: 0.2;
    }

    .quote {
        opacity: 1;
    }

    .quote:hover {
        z-index: 1;
    }

    p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .quote {
        font-size: 0.75rem;
    }
}