//COLOR SET
$red: #E06B65;
$yellow: #FFEE52;
$green:#99CC99;
$blue: #99CCFF;
$gray: #787878;
$black: #202020;
body {
    background-color: $gray;
}
.navbar.scrolled {
    background-color: #202020 !important;
    transition: background-color 200ms linear;
    color: white;
}

p {
    font-size: 11px;
    margin-bottom: 0;
    color: white;
    font-style: italic;
}

.header {
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 3vh;
}

p.header {
    font-weight: normal;
}
  
h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}

footer {
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

h2 {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 25;
    font-weight: bold;
    margin-bottom: 1vh;
}
  
.dot {
    height: 10vw;
    width: 10vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
    min-height: 120px;
    min-width: 120px;
}
.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-small;
    font-weight: medium;
    color: $black;
    opacity: 0;
}

.team > .container, .exec> .container{
    text-align: center;
    margin-bottom: 1vh;
}

.name {
    font-weight: bold;
    font-style: normal;
}

div.col-4.col-sm-3, div.col-6.col-sm-3, div.col-4.col-sm-4, div.col-6.col-sm-3, div.col-6.col-sm-4 {
      padding: 5vh 0 0 0;
}

.header > p {
      font-size: medium;
}
  
.member {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 94%;
    width: 94%;
}

.green {
    border: 4px solid $green;
}

.red {
    border: 4px solid $red;
}

.blue {
    border: 4px solid $blue;
}

.yellow {
    border: 4px solid $yellow;
}

a {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.img-container {
    height: 100%;
    width: 100%;
    position: relative;
}

@media (min-width: 576px) {
    body {
        background-image: url("../img/members/members1.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .header {
        margin-bottom: 5vh;
    }
    h2 {
        margin-bottom: 5vh;
    }
    .team > .container, .exec> .container{
        margin-bottom: 5vh;
    }
    a.about {
        border-bottom: solid $green;
    }
    
    a.members {
        border-bottom: solid $blue;
    }
    
    a.projects {
        border-bottom: solid $red;
    }
    .dot.red:hover {
        background-color: $red;
        border-color: $red;
        transition-timing-function: ease-in-out;
    }
    .dot.green:hover {
        background-color: $green;
        border-color: $green;
        transition-timing-function: ease-in-out;
    }
    .dot.blue:hover {
        background-color: $blue;
        border-color: $blue;
        transition-timing-function: ease-in-out;
    }
    .dot.yellow:hover {
        background-color: $yellow;
        border-color: $yellow;
        transition-timing-function: ease-in-out;
    }
    .img-container:hover {
        opacity: 0.2;
    }
    .quote {
        opacity: 1;
    }
    p {
        font-size: larger;
    }
    .header > p {
        font-size: x-large;
        padding-top: 2vh;
    }
}
