* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
}

h2 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

a {
  text-decoration: none;
  color: #202020;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

nav {
  font-weight: 500;
}

.navbar.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.nav-link.active {
  font-weight: 700;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#landing-container {
  height: 75%;
}

.landing {
  /* The image used */
  background-image: url("../img/landingimg.svg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text > h3 {
  font-weight: 800;
  font-size: 1.5rem;
  background-color: white;
}

.landing-text > h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  background-color: white;
}

#about, #projects, #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about > h2, #projects {
  text-align: center;
}

.article > h1 {
  font-weight: 700;
}

h5 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 255, 255, 0)), color-stop(65%, #FFD0AE));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FFD0AE 65%);
  display: inline;
}

.half-background {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, yellow), color-stop(50%, transparent));
  background: linear-gradient(to top, yellow 50%, transparent 50%);
}

#members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.iris {
  font-weight: 700;
}

#contact {
  position: relative;
  text-align: center;
}

#contact > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#red-string {
  position: absolute;
  top: 90px;
  left: 0;
}

#blue-string {
  position: absolute;
  bottom: 0;
  left: 0;
}

#green-string {
  position: absolute;
  bottom: 0;
  right: 0;
}

#yellow-string {
  position: absolute;
  top: 90px;
  right: 0;
}

#contact-text {
  font-size: 60px;
}

.line {
  border: none;
  background-color: #202020;
  color: #ccc;
  height: 2px;
  width: 80px;
  margin: 25px 0;
}

.social-icons {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icons > a:nth-child(1):hover {
  color: #E06B65;
}

.social-icons > a:nth-child(2):hover {
  color: #FFFF99;
}

.social-icons > a:nth-child(3):hover {
  color: #99CC99;
}

.social-icons > a:nth-child(4):hover {
  color: #99CCFF;
}

footer {
  height: 10%;
  background-color: #787878;
}

@media (min-width: 768px) {
  .landing-text > h3 {
    font-size: 2rem;
  }
  .landing-text > h1 {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .landing-text > h3 {
    font-size: 2rem;
  }
  .landing-text > h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  .landing-text > h3 {
    font-size: 2rem;
  }
  .landing-text > h1 {
    font-size: 6rem;
  }
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 10 10px;
  padding-bottom: 30px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

#art-container {
  position: relative;
  display: inline-block;
  /* <= shrinks container to image size */
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  top: 0;
  left: 0;
}

#art-container img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: all 300ms;
}

#art-container svg {
  position: absolute;
  height: 100%;
  width: 93%;
  top: 60px;
  left: 78px;
  opacity: 0;
  z-index: 2;
}

.colored {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.grayscale {
  position: relative;
  z-index: 0;
  -webkit-filter: grayscale(100%);
  top: 0;
  left: 0;
}

.clip {
  -webkit-clip-path: url(#myClip);
          clip-path: url(#myClip);
  -webkit-transition: 0.5s ease clip-path;
  transition: 0.5s ease clip-path;
}

img:hover {
  opacity: .5;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/*# sourceMappingURL=styles.css.map */
