body {
  background-color: #08102E;
  position: relative;
}

.role {
  font-size: xx-small;
}

.web {
  overflow: auto;
}

.hearts {
  height: 2rem;
}

.heart-container {
  height: 2rem;
}

.navbar.scrolled {
  background-color: #202020 !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  color: white;
}

h6 {
  color: white;
  font-style: italic;
}

.header {
  color: white;
  text-align: center;
  font-style: italic;
  margin-bottom: 3vh;
}

p.header {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
}

footer {
  background-color: #202020;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  vertical-align: top;
  z-index: 1;
}

h2 {
  color: white;
  text-align: center;
  font-style: normal;
  font-size: 25;
  font-weight: bold;
  margin-bottom: 1vh;
}

.dot {
  height: 8vw;
  width: 8vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  min-height: 100px;
  min-width: 100px;
}

.dot.blank,
.dark {
  background-color: #202020;
  visibility: hidden;
  position: absolute;
  font-size: 0;
}

.col-0 {
  width: 0%;
  float: left;
}

.dark {
  color: #202020;
}

.quote {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: xx-small;
  font-weight: medium;
  color: #202020;
  opacity: 0;
}

.web > .cont {
  text-align: center;
  overflow: auto;
  margin-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.name {
  font-weight: bold;
  font-style: normal;
}

.member {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 94%;
  width: 94%;
}

.blank {
  border: 4px solid #202020;
}

.green {
  border: 4px solid #99CC99;
}

.red {
  border: 4px solid #E06B65;
}

.blue {
  border: 4px solid #99CCFF;
}

.yellow {
  border: 4px solid #FEEB96;
}

a {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

p {
  color: white;
}

.clouds-left, .clouds-right {
  width: 100%;
  height: 0px;
  position: relative;
}

.clouds-img-1 {
  width: 30vw;
  height: auto;
  margin-top: 40vw;
}

.clouds-img-2 {
  width: 30vw;
  height: auto;
  margin-top: 40vw;
  margin-left: 70vw;
}

@media (min-width: 576px) {
  .dot {
    height: 12vw;
    width: 12vw;
  }
  .role {
    font-size: x-small;
  }
  .dot.blank,
  .dark {
    visibility: hidden;
    display: none;
  }
  .clouds-img-1, .clouds-img-2 {
    margin-top: 12vw;
  }
}

@media (min-width: 768px) {
  .hearts {
    height: 2rem;
  }
  .heart-container {
    height: 2rem;
  }
  .quote {
    font-weight: bold;
    font-size: x-small;
  }
  .col-sm-5th {
    width: 20%;
    float: left;
  }
  .clouds-img-1, .clouds-img-2 {
    margin-top: 9vw;
  }
}

@media (min-width: 992px) {
  .clouds-img-1, .clouds-img-2 {
    margin-top: 8vw;
  }
  .header {
    margin-bottom: 5vh;
  }
  h2 {
    margin-bottom: 5vh;
  }
  .team > .container,
  .exec > .container {
    margin-bottom: 5vh;
  }
  .dot.red:hover {
    background-color: #E06B65;
    border-color: #E06B65;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .dot.green:hover {
    background-color: #99CC99;
    border-color: #99CC99;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .dot.blue:hover {
    background-color: #99CCFF;
    border-color: #99CCFF;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .dot.yellow:hover {
    background-color: #FEEB96;
    border-color: #FEEB96;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  .img-container:hover {
    opacity: 0.2;
  }
  .quote {
    opacity: 1;
  }
  .quote:hover {
    z-index: 1;
  }
  p {
    font-size: larger;
  }
  .dot.blank,
  .dark {
    visibility: visible;
    font-size: auto;
    position: relative;
  }
  .col-md-5th {
    width: 20%;
    float: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1200px) {
  .clouds-img-1, .clouds-img-2 {
    margin-top: 7vw;
  }
  .quote {
    font-size: small;
  }
  .role {
    font-size: small;
  }
}
/*# sourceMappingURL=webteam.css.map */